.revenue__chart {
   padding: 0.75rem 1rem;
   background-color: #fff;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   grid-column: span 2;

   .revenue__header {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &>h3 {
         color: #8e8e8f;
         font-size: 1rem;
      }

      &>div {
         display: flex;
         align-items: center;
         gap: 0.5rem;

         span {
            color: #292432;
            font-size: .812rem;
            font-weight: 600;
         }
      }
   }

   .revenue__body {
      flex: 2;
      max-height: 360px;
   }

}