.input {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   label {
      color: #292d32;
      font-size: 1rem;
      font-weight: 700;
   }

   &>input {
      padding: 0.5rem 0.75rem;
      width: 100%;
      border: 2px #e1e1e1 solid;
      border-radius: 0.25rem;
      font-weight: 600;
      transition: border 0.35s ease-out;

      &:focus {
         border: 2px #292d32 solid;
      }
   }
}