.button__primary {
   padding: 0.5rem;
   background-color: #2867e1;
   color: #fff;
   outline: none;
}

.button__del {
   padding: 0.5rem;
   background-color: transparent;
   color: #dd2424;
   font-weight: 600;
   outline: none;

}