.information {
   padding: 0.75rem 1rem;
   background-color: #fff;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   gap: 1rem;

   &>h3 {
      color: #8e8e8f;
      font-size: 1rem;
   }

   .data {
      margin-left: 2rem;
      display: flex;
      gap: 1.5rem;

      .contact {
         display: flex;
         flex-direction: column;
         gap: 0.5rem;

         .username {
            margin-top: 0.5rem;
            font-size: 1.75rem;
            font-weight: 700;
         }
         .email {
            font-size: 1rem;
            font-weight: 500;
         }
         .phone {
            font-size: 1rem;
            font-weight: 500;
         }
         .address{
            font-size: 1rem;
            font-weight: 500;
         }

      }
   }
}