.widget {
   padding: 14px 16px;
   height: 128px;
   background-color: white ;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   // box-shadow: 0 4px 4px hsla(0, 0%, 20%, .1);

   .left, .right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .right {
      .percentage {
         display: flex;
         align-items: center;
         gap: 0.5rem;

         & > span {
            color: #24fd24;
            font-weight: 700;
         }
         & > span.negative {
            color: #fd2424;
         }
      }

      & > i {
         padding: 0.5rem;
         background-color: #e1e1e1;
         color: #292d32;
         border-radius: 4px;
         align-self: flex-end;
      }
   }

   .left {
      .title {
         color: #98989b;
         font-size: 1rem;
         font-weight: 600;
         text-transform: uppercase;
      }
      
      .counter {
         color: #292d32;
         font-size: 1.5rem;
         font-weight: 700;
      }

      .link {
         color: #2867e1;
         cursor: pointer;
         font-size: 0.812rem;
         font-weight: 600;
         transition: 0.3s;

         &:hover{
            color: #1847e1;
         }
      }
   }

}