.title {
   color: #98999b;
   font-size: .816rem;
   font-weight: 700;
   text-transform: uppercase;
}

.group {
   padding-left: .25rem;
   margin-top: 0.25rem;

   li {
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
      cursor: pointer;
      color: #29322d;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: 0.3s ease-out;

      &:hover {
         background-color: #e1e1e1;
      }

      span {
         
         font-size: 1.15em;
         font-weight: 600;
         transition: 0.5s;

      }

      &:hover span {
         transform: translateX(0.25rem);
      }

   }
}