.users {
   display: flex;
   align-items: center;
   gap: 12px;

   span {
      font-weight: 500;
   }
}

.status {
   padding: 0.5rem;
   border-radius: 8px;
   font-size: .912rem;
   font-weight: 500;

   &.active {
      background-color: #28e16844;
      color: #18c158;
   }
   &.passive {
      background-color: #e1286844;
      color: #c11858;
   }
   &.pending {
      background-color: #e8e16844;
      color: #bab24b;
   }
}